VITE_API_URL=https://localhost:8080
VITE_INVITATION_VIA_EMAIL=false
VITE_GOOGLE_TRACKING_ID=
VITE_GOOGLE_KEY=
VITE_MUI_X_LICENSE=
VITE_CLOUD_VERSION=false
VITE_ENABLE_SSO=false
VITE_OAUTH2_PROVIDER=
VITE_LOGO_PATHS=
VITE_CUSTOM_COLORS=
VITE_BRAND_CONFIG=
